

<main class="mainAcceuil">
   
    <img class="imgAcceuil" src="/public/images/heart.jpg" alt="grotteCoeur"> 
   
    <div class="titre">
        <h1 class="titreAcceuil">O 'Happiness</h1>
        <h3 class="titreH3Acceuil">“ Le plus grand secret pour le bonheur, c’est d’être bien avec soi. ”</h3>
           <p class="pAcceuil">(Fontenelle)</p>

    </div>  

</main>
