
<main class="mainAstuce">
  <section class="globYoga">

    <h1 class="h1Astuce">Il est temps de vous honorer comme vous le méritez !</h1>

    <div class="yoga">
      <div class="imageYoga"> <!--jai mis l'image dans une div pour pouvoir bien la centrer*/-->
        <img src="/public/images/yoga.jpg" alt="yoga">
      </div>
      <div class="textYoga">
        <p class="Tyoga">
          Nous passons une grande partie de notre vie à faire attention aux autres, à s’adapter aux besoins de notre
          entourage, de la société…
        </p>
        <p class="Tyoga">
          Mais à quel moment prenons-nous en compte nos propres besoins ?
        </p>
        <p class="Tyoga">
          Quand écoutons-nous notre propre appel intérieur ?
        </p>
        <p class="Tyoga">
          Est-ce que nous donnons vraiment de l’attention à nos pensées, nos sentiments ?
        </p>

      </div>

    </div>
  </section>

  <section class="astuces">
    <h1 class="h1Astuce">Astuces pour développer l'amour de Soi</h1>
    <p class="pAstuce"> C’est très beau de prendre soin des autres, de leur donner de l’amour, de les écouter, les
      conseiller, les
      accompagner… Mais nous avons parfois tendance à oublier que la personne la plus importante de notre vie, c’est
      soi-même ! Et que ce n’est qu’en prenant soin de soi, en se donnant de l’amour et en s’honorant que nous pouvons
      donner pleinement au monde dans lequel nous évoluons.
      Voici quelques exemples à ne plus jamais oublier, par respect pour soi-même :
    </p>

    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            1 - Ne parlez pas mal, ni des autres, ni devous-même :
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p class="pOutilsetmethodes">"Que votre parole soit impeccable" dit le 1er accord Toltèque.
              Ce que vous dites à propos des autres ne dit rien sur eux mais dit tout sur vous ! Commérer, critiquer,
              juger…
              autant de comportements qui envoient des ondes négatives dont vous êtes la première victime. Une personne
              qui
              ressent ce besoin est une personne qui n’est pas en phase avec elle-même. De la même manière, arrêtez de
              vous
              auto-saboter. Nous sommes toujours notre critique la plus dure et nous pouvons nous juger trop rapidement
              pour nos
              actions. Prêtez attention à votre dialogue interne et cultivez la bienveillance !
            </p>

          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            2 - Apprenez le pardon :
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p class="pOutilsetmethodes">Lorsque vous n’arrivez pas à pardonner quelqu’un, ce n’est pas à lui que vous
              faites du mal mais à vous-même.
              C’est en apprenant à lâcher prise et à pardonner nos blessures passées que nous pouvons faire de grands
              pas en
              avant. Garder en soi des sentiments de rancune, de colère ou de frustration créé des schémas subconscients
              de
              résistance qui peuvent s’infiltrer dans tous les domaines de notre vie et nous retenir. Commencez par vous
              pardonner d’abord, puis passez aux autres. Gardez à l’esprit que tout le monde fait de son mieux à chaque
              instant
              (4ème accord Toltèque) tout ce qu’il peut avec les connaissances dont il dispose.</p>

          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            3 - Ecrivez votre propre histoire :
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p class="pOutilsetmethodes"> Gardez à l’esprit que vous êtes le créateur de votre vie, l’acteur principal,
              et que votre histoire est belle et
              unique. Parlez de votre vérité et honorez-là, n’ayez pas peur de défendre ce en quoi vous croyez. Si les
              gens
              autour de vous vous honorent et vous respectent réellement, ils ne seront pas offensés par votre vérité.
              Comme le
              dit la citation du Dr Seuss: «soyez qui vous êtes et dites ce que vous ressentez, car ceux qui s’en
              soucient n’ont
              pas d’importance et ceux qui comptent ne s’en préoccupent pas».</p>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            4 - Apprenez à vous aimer :
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p class="pOutilsetmethodes"> Comme dans une relation amoureuse, séduisez-vous, donnez-vous de l’attention,
              de l’amour, de la tendresse, et
              engagez-vous envers vous-même. Vous êtes la personne la plus importante de votre vie ! Apprenez à vraiment
              aimer
              chaque centimètre de votre être et célébrez-vous pour qui vous êtes. Nous sommes tous uniques, nous avons
              tous
              quelque chose de spécial à offrir, n’ayez pas peur de cela. Entrez pleinement dans l’essence de qui vous
              êtes,
              étreignez-vous pleinement et observez comment vous vous élevez.</p>

          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            5 - Ecoutez votre intuition, c’est votre meilleur guide :
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p class="pOutilsetmethodes"> Nous avons tous tendance à chercher les solutions à l’extérieur alors que
              toutes les clefs se trouvent à
              l’intérieur de nous. Apprendre à écouter ses émotions, son intuition, sa petite voix intérieure, son coeur
              tout
              simplement, est une magnifique manière de s’honorer. Vous n’avez pas besoin d’une raison rationnelle ou
              d’une
              excuse pour expliquer pourquoi votre intuition vous dit oui ou non, alors suivez-là, apprenez à lui faire
              confiance et laissez-vous guider…</p>

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            6 - Accordez-vous du temps :
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p class="pOutilsetmethodes"> Nous avons la capacité de mettre des tonnes d’énergies dans des situations
              dénuées de sens, alors nous devrions
              trouver des plages horaires pour prendre soin de nous ! Chaque jour, prenez l'habitude de prendre un
              instant pour
              vous, même si ce n’est que pour quelques minutes, prenez rendez-vous avec vous-même ! Que ce soit en
              méditant, en
              faisant quelque chose de créatif ou en prenant un bain, prenez simplement le temps de vous retrouver avec
              vous-même et de vous brancher sur le bourdonnement de votre âme. Imaginez les bénéfices si vous parvenez à
              le
              faire quotidiennement !</p>

          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            7 - Soyez reconnaissant envers vous-même :
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p class="pAstuce"> Commencez par vous dire “ merci “ pour tout votre travail, votre corps, votre vie, votre
              journée et tout le
              reste. Dites vous simplement merci d’être en train de lire cet article qui est là pour vous donner de
              l’amour.
              Apprenez à être reconnaissant pour tout ce que vous avez et remerciez pour la vie que vous avez créée
              jusqu’à
              présent. Si vous ne pouvez pas honorer et respecter ce que vous avez, vous vous fermez à recevoir plus.
              Une fois
              que vous pourrez trouver les remerciements dans ce que vous avez, les portes de l’abondance s’ouvriront à
              vous !
            </p>

          </div>
        </div>
      </div>

    </div>


  </section>




</main>
