


<main class="mainOutilsetmethodes">

    <section id="ikigaiOutilsetmethodes" class="ikigaiOutilsetmethodes">

        <h1 class="h1Outilsetmethodes">Ikigaï</h1>

        <p class="pOutilsetmethodes">
            En japonais « iki » signifie « vivant, vie » et « gaï » peut se traduire par « intérêt, récompense ou
            résultat ». Ce mot qui n’a pas vraiment de réelle traduction en français exprime l’idée de <strong>
                réalisation de
                soi</strong> ou de sens de la vie, ce pour quoi la vie vaut la peine d’être vécue. Apparu à l’époque
            Heian, <strong>ce
                concept a été adopté par les résidents d’Okinawa</strong> et fait partie de leur quotidien au même titre
            que
            <strong>l’alimentation saine</strong> et la pratique d’une <strong> activité physique</strong>.
        </p>

        <div class="globOutilsetmethodes">

            <div class="titreImageIkigaiOutilsetmethodes">
                <h3 class="h3Outilsetmethodes">Ce diagramme correspond à votre carte au trésor :</h3>
                <img src="/public/images/methodeIkigai.png" alt="ikgai">
            </div>

            <div class="globIkigayOutilsetmethodes">

                <h3 class="h3Outilsetmethodes">Comment trouver votre ikigaï ?</h3>

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Plaisir | Ce que j’aime faire
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="pOutilsetmethodes">Qu’est-ce qui me fait plaisir ? À quel moment je me sens vraiment heureux ? Même s’il
                                    s’agit de “ pas grand-chose ”, écrivez-le. C’est le 1ème élément de l’ikigaï, le
                                    plaisir.
                                </p>
                                <ul>
                                    <li><strong>Élargissez les champs :</strong> au travail, à la maison, en voyage ou
                                        bien le week-end.
                                        Cherchez ce qui vous donne des ressources. Par exemple, faire du jardinage,
                                        écrire,
                                        faire des présentations.</li>
                                    <li><strong>Pensez à votre enfance</strong> ou bien <strong> votre
                                            adolescence</strong>. Qu’aimiez-vous faire ? Quel était
                                        votre passe-temps favori ? Et surtout qu’est-ce qui vous plaisait dans ce
                                        passe-temps ?</li>
                                    <li><strong>Listez ces activités</strong>, puis analysez. Pourquoi j’aime faire
                                        cette activité ou
                                        pourquoi j’aimais le faire? C’est alors en comprenant le pourquoi que vous allez
                                        pouvoir mieux comprendre ce que vous aimez vraiment.</li>
                                    <li><strong>Mon conseil</strong>. Oubliez le résultat final, pensez plutôt
                                        processus,
                                        qu’est-ce que vous aimez faire sans fin ou but précis ?</li>
                                </ul>
                                <p class="pOutilsetmethodes">Cette introspection est importante pour comprendre ce qui te booste, te donne la
                                    pêche au
                                    quotidien.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Talent | Ce dans quoi je suis doué.e
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="pOutilsetmethodes">C’est le 2ème élément de l’ikigaï : nos talents. En résumé, il s’agit souvent des
                                    choses
                                    qui nous paraissent naturelles et spontanées. Ce sont alors plus les autres qui nous
                                    le
                                    disent et nous le font remarquer.</p>
                                <ul>
                                    <li>Repensez aux moments où vous avez eu des retours positifs. Sur quoi
                                        portaient-ils ?
                                        Si vous recevez régulièrement des compliments sur ce sujet, il s’agit
                                        certainement
                                        d’un de vos talents.</li>
                                    <li>Demandez-vous ce que vous faites avec aisance, sans grands efforts. Comparez si
                                        dans
                                        ce même domaine, vous voyez des personnes qui ont plus de difficultés que vous.
                                    </li>
                                    <li>Demandez à vos proches de vous décrire un exemple où ils vous ont trouvé
                                        particulièrement brillant.e.</li>
                                    <li>Notez alors tout ce qui vous vient à l’esprit.</li>
                                </ul>
                                <p class="pOutilsetmethodes"> <strong>Quelles sont vos préférences naturelles ?</strong> Cet exercice vous
                                    permettra de
                                    connaitre vos points forts et vos préférences naturelles. Connaitre son type de
                                    personnalité donne un vrai coup de pouce pour la recherche de votre ikigï.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Besoin | Ce dont le monde a besoin
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="pOutilsetmethodes">C’est le 3ème élément de l’ikigaï. Que pourrais-je apporter au monde ? Ce sont des
                                    choses
                                    qui peuvent correspondre aux concepts globaux comme la justice ou l’honnêteté, mais
                                    aussi des choses plus basiques dont le monde aura toujours besoin, comme manger,
                                    s’habiller ou voir du beau.</p>
                                <ul>
                                    <li>Quel impact pourrais-tu avoir sur la vie de tes proches ?</li>
                                    <li>Comment pouvez-vous contribuer au monde ?</li>
                                    <li>Quelles sont les activités qui sont nécessaires au monde d’aujourd’hui ?</li>
                                    <li>Par quoi les personnes sont-elles préoccupées en ce moment ou en général ?</li>
                                    <li>Comment aider les autres ?</li>
                                </ul>
                                <p class="pOutilsetmethodes">Réfléchissez aux thématiques qui vous interpellent ou aux causes pour lesquelles vous
                                    aimeriez vous investir, car trouver son ikigaï, c’est se sentir aligné avec soi mais
                                    aussi avec la société qui nous entoure.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Revenus | Ce pourquoi je suis payé.e
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="pOutilsetmethodes">Maintenant, recentrons-nous sur une question cruciale parce qu’on ne peut pas vivre
                                    seulement d’amour et d’eau fraîche. Celle de la rémunération. </p>
                                <ul>
                                    <li>Quelles compétences pouvez-vous monétiser ?</li>
                                    <li>Quelles sont vos idées qui ont de la valeur ?</li>
                                    <li>Quelles sont les activités qui sont nécessaires au monde d’aujourd’hui ?</li>
                                    <li>Listez ce qui vous apporte un revenu aujourd’hui.</li>
                                    <li>Ouvrez la réflexion. Pourquoi aimeriez-vous être payé.e ?</li>
                                </ul>
                                <p class="pOutilsetmethodes">Comme les autres composantes, cette dernière composante ne doit pas être la seule à
                                    être
                                    privilégiée, sinon il n’y a pas équilibre.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <p class="pOutilsetmethodes">
            En résumé, trouver son ikigaï, c’est trouver sa mission de vie telle une boussole qui va guider nos
            choix. Celle qui te donnera des papillons dans le ventre le matin et la force d’aller jusqu’au bout.
            
        </p>


    </section>
    <section id="EFTOutilsetmethodes" class="eftOutilsetmethodes">
        <h1 class="h1Outilsetmethodes">EFT </h1>
       
        <p class="pOutilsetmethodes">EFT (Emotional Freedom Technic/ Technique de Libération Émotionnelle) est une technique de psycho-énergétique. Cette technique créée par Gary Craig consiste à libérer l’émotion rattachée à notre dérangement en tapotant des points d’acupuncture et en citant une phrase d’acceptation du problème. Efficace à 80% en auto traitement et à 95% avec un thérapeute. C’est une technique simple, efficace et indolore (On n’utilise pas d’aiguilles pour activer les points d’acupuncture mais la pulpe des doigts). L’EFT vous permet de mieux gérer vos émotions, elle vous redonne le pouvoir sur vous-même. De plus en plus utilisée dans les milieux hospitaliers pour la gestion de la douleur.
            Cette technique est efficace sur grand nombre de problématiques, douleurs physiques persistantes, insomnies, addictions, phobies, toc, en post traumatique, stress…

        </p>



        <button id="btnVoirPlusOutilsetMethodes">En savoir plus <i class="fa-solid fa-arrow-down-wide-short"></i></button>

        <article id="VoirPlusOutilsetMethodes" style="display: none;">

            <div id="Voir" class="deroulemntOutilsetmethodes">
                <h2 class="h2Outilsetmethodes">Déroulement des séances :</h2>
                <h4 class="h4Outilsetmethodes">La 1ère séance :</h4>

                <p class="pOutilsetmethodes">Elle débute par une anamnèse approfondie qui sera l’occasion d’appréhender au mieux ensemble le problème que vous souhaitez travailler et définir avec vous un objectif réalisable à atteindre</p>
                <p class="pOutilsetmethodes">Cette 1ère étape est très importante car elle permet notamment d’établir un cadre pour les séances et constitue souvent un gage d’efficacité. Elle peut être selon les cas très rapide ou nécessiter une séance entière. Cela va dépendre de votre objectif selon qu’il soit précis (phobie, deuil, traumatisme conscient) ou général (confiance en soi, anxiété, crise d’angoisse) et plus ou moins clair pour vous. Un objectif peut sembler être simple mais renvoyer à une problématique plus profonde et complexe.</p>
                <p class="pOutilsetmethodes">La définition d’un objectif implique aussi de commencer à explorer ce qui, aujourd’hui, vous empêche d’atteindre cet objectif : croyances négatives limitantes et schéma précoces inadaptés.</p>
            </div>
            <div >
                <h4 class="h4Outilsetmethodes">La 1ère séance est aussi le moment d’apprendre :</h4>
                <ul>
                    <li>La routine de taping EFT, c’est-à-dire les points à stimuler. C’est une phase assez rapide mais importante car lors d’une séance d’EFT vous vous stimulez vous-même en copiant ce que je fais sur moi. L’EFT est en effet une pratique très autonomisante et vous serez amené par la suite à pratiquer chez vous les exercices que je vous proposerai.</li>
                    <li>Des exercices de respiration et de relaxation que nous pourrons utiliser en séance et dont vous pourrez vous servir au quotidien.</li>
                </ul>
            </div>
            <div class="suiteOutilsetmethodes">
                <h4 class="h4Outilsetmethodes">La suite du travail.</h4>

                <p class="pOutilsetmethodes">Une fois cette 1ère phase réalisée, nous chercherons ensemble à mettre à jour le/les événement(s) de votre histoire qui sont à l’origine des problèmes à traiter et les croyances négatives et schéma précoces qui les entretiennent, puis à les traiter en EFT.</p>
                <p class="pOutilsetmethodes">Schématiquement, le traitement d’un événement ou d’une croyance en EFT consiste à stimuler des points d’acupuncture (toujours les mêmes), tout en étant connecté à l’événement que l’on travaille et donc aux émotions qui y sont liées. Cette connexion à ses émotions et plus ou moins simple selon les personnes mais elle est d’autant plus nécessaire qu’elle est compliquée à réaliser pour certains.</p>
                <p class="pOutilsetmethodes">L’objectif est de pouvoir à terme se connecter à la scène, à son image, son souvenir, sans être impacté par les émotions qui y était auparavant liées. C’est là la marque d’une déprogrammation neuronale qui fait que si le souvenir traumatique est bien toujours présent, il ne sous impacte plus.</p>
                <p class="pOutilsetmethodes">Trouver ces événements est un paramètre important des séances et peut sembler parfois difficile car certains sont oubliés ou alors, à l’inverse, il y en a une « multitudes » dans laquelle on semble se noyer. Mais les techniques de la psychologie énergétiques ont justement aussi cette fonction et le rôle du praticien est de vous accompagner dans cette démarche.</p>
                <p class="pOutilsetmethodes">Enfin, l’un des avantages de l’EFT est de permettre de travailler aussi sur soi de façon autonome. C’est pourquoi, je vous donnerai si possible du « travail à la maison » pour soutenir les séances en cabinet et vous permettre d’avancer plus rapidement.</p>
            
            </div>
            <div class="nombreOutilsetmethodes">
                <h4 class="h4Outilsetmethodes">Le nombre de séances.</h4>
                <p class="pOutilsetmethodes">Le nombre de séances nécessaires est variable et dépend des personnes, de la problématique traitée, de son caractère aigue et de l’ancrage dans laquelle elle prend racine.</p>
                <p class="pOutilsetmethodes">L’EFT est une thérapie brève dont l’effet souvent un peu magique peut laisser penser que tout va forcément être traité très rapidement, en quelques séances. Ce n’est malheureusement pas le cas. Si parfois cela suffit, même pour des problèmes complexes et ancrés depuis longtemps, cela n’est pas une règle absolue. Il est peut au contraire être nécessaire d’explorer les problèmes plus en profondeur et d’avancer à un rythme plus lent, qui sera plus écologique pour vous.</p>
                <p class="pOutilsetmethodes">L’EFT étant une thérapie d’exposition, il est en effet important de procéder avec douceur ce qui implique aussi, parfois, de prendre un peu plus de temps.</p>
                <p class="pOutilsetmethodes">Ce que l’EFT ne traite pas : les troubles psychiatriques aigus.</p>
            </div>

      </article>  

    </section>
</main>