

<footer class="footer">
    
    <section class="pageFooter">

        <h3 class="h3Footer">Pages</h3>

        <ul class="ulFooter">
            <li class="liFooter"><a class="nav-link" aria-current="page" href="/">Accueil</a></li>
            <li class="liFooter"><a class="nav-link" href="/mon-parcours">Mon-parcours</a></li>
            <li class="liFooter"><a class="nav-link" href="/outils-et-methodes">Outils-et-methodes</a></li>
            <li class="liFooter"><a class="nav-link" href="/prestations">Prestations</a></li>
            <li class="liFooter"><a class="nav-link"  href="/astuces">Astuces</a></li>
            <li class="liFooter"><a class="nav-link"  href="/avisClients">Avis-Clients</a></li>
            <li class="liFooter"><a class="nav-link" href="/contact">Contact</a></li>
        </ul>

    </section>

    <hr class="hrFooter"><!-- pour bien séparer les élements du footer -->

    <section class="copyrightFooter">
       
        <h3 class="h3Footer">Copyright</h3>

        <p class="pFooter"><i class="fa-regular fa-copyright"></i> copyright 2022</p>

    </section>

    <hr class="hrFooter"><!-- pour bien séparer les élements du footer -->


    <section class="reseauFooter">
        
        <h3 class="h3Footer">Réseaux</h3>
       
        <ul class="ulFooter">
            <li class="liFooter"><a href="https://www.facebook.com/profile.php?id=100039732346014" target="_blank"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
            <li class="liFooter"><a href="http://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
        </ul>

    </section>