<nav class="navbar navbar-expand-lg    ">
  <a class="navbar-brand ms-4" href="/">O'Happiness</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNavAltMarkup">
    <div class="navbar-nav ">
      <a class="nav-item nav-link {{#if active.accueil}} active {{/if}} " href="/">Accueil</a>
      <a class="nav-item nav-link {{#if active.monParcours}} active {{/if}}  " href="/monParcours">Mon parcours</a>
      <a class="nav-item nav-link {{#if active.outilsEtMethodes}} active {{/if}} " href="/outilsEtMethodes">Outils et
        methodes</a>
      <a class="nav-item nav-link {{#if active.astuces}} active {{/if}}  " href="/astuces">Astuces</a>
      <a class="nav-item nav-link {{#if active.prestations}} active {{/if}} " href="/prestations">Mes préstations</a>
      <a class="nav-item nav-link {{#if active.avisClients}} active {{/if}} " href="/avisClients">Avis des clients</a>
      <a class="nav-item nav-link {{#if active.contact}} active {{/if}} " href="/contact">Contact</a>


     
      
         {{#if Admin}}

         
        
      <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle   " href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Gestion
              </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
     
            <li class="nav-item">
              <a class="nav-link" href="/gestion">Gestion des Utilisateurs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gestionContacts">Gestion des
                Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gestionCommentaires">Vos
                  commentaires</a>
              </li>
        </ul>       
        </li>
       {{/if}}
       {{#if Moderateur}}
        
      <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle   " href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Gestion
              </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="nav-item">
              <a class="nav-link " href="/gestionContacts">Gestion des
                Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gestionCommentaires">Vos
                  commentaires</a>
              </li>
        </ul>       
        </li>
       {{/if}}

       {{#if User}}
              
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Gestion
              </a>
               <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">          
                <li class="nav-item">
                  <a class="nav-link " href="/gestionCommentaires">Vos
                  commentaires</a>
                </li>
                </ul>       
              </li>
               {{/if}}
      

      
      


     


      <li class="nav-item dropdown">


        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="false"> {{#if UsAdMod}}Bonjour {{name}}{{/if}}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          {{#if UsAdMod}}
          <li class="text-center"> {{role}}</li>
          <a class="btn " href="/updateUser/{{userId}}" style="width: 100%;"><i class="fa-solid fa-pen-to-square"></i>
            Modifier votre profil</a>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="text-center">
            <form method="POST" enctype="application/x-www-form-urlencoded" action="/deleteCookie/?_method=delete">
              <button id="disconnect" class="btn d-inline-flex "
                onclick='return confirm("Êtes-vous sûr de vouloir vous déconnecter?")'>
                <p class="material-icons">power_settings_new</p>déconnecter
              </button>
            </form>
          </li>

          {{else}}

          <li><a class="dropdown-item" href="/connexion">Connexion</a></li>
          <li><a class="dropdown-item" href="/inscription">Inscription</a></li>

          {{/if}}
        
        </ul>
      </li>
    </div>


  </div>

</nav>
