

<main class="mainAccueil">
   
    <img class="imgAccueil" src="/public/images/heart.jpg" alt="grotteCoeur"> 
   
    <div class="titre">
        <h1 class="titreAccueil">O 'Happiness</h1>
        <h3 class="titreH3Accueil">“ Le plus grand secret pour le bonheur, c’est d’être bien avec soi. ”</h3>
           <p class="pAccueil">(Fontenelle)</p>

    </div>  

</main>
