


<main class="mainContact">


  <div class="locauxContact">
        <h1 class="h1Contact">Nos locaux :</h1>
    
        
            <section class="texteContact">
                <p class="pContact">Mme Poulain Èlodie</p>
                <p class="pContact">17,Rue faubourg st-Èloi</p>
                <p class="pContact">61400 Mortagne-au-Perche</p>
            </section>

            <section class="planContact">
              
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2642.5466910303035!2d0.5398033154907977!3d48.522753979255974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e23050adfc560d%3A0xab617eff2c596f32!2s17%20Rue%20du%20Faubourg%20Saint-Eloi%2C%2061400%20Mortagne-au-Perche!5e0!3m2!1sfr!2sfr!4v1664984975314!5m2!1sfr!2sfr"
                      loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </section>
            
        
    </div>

    <div class="contacterContact">
            <h1 class="h1Contact">Nous contacter</h1>

        <form class="formContact" method="post" role="form" enctype="application/x-www-form-urlencoded" action="/contact">

          <label class="labelContact" for="nomContact">Nom</label>
          <input class="inputContact" type="text" id="nomContact" name="nom" placeholder="votre Nom..">
       

        
          <label class="labelContact" for="prenomContact">Prénom</label>
          <input class="inputContact" type="text" id="prenomContact" name="prenom" placeholder="votre prenom..">

          <label class="labelContact" for="emailContact">Email</label>
          <input class="inputContact" type="email" id="emailContact" name="email" placeholder="votre email..">

        
          <label class="labelContact" for="questionContact">Question</label>
          <select class="selectContact" id="questionContact" name="question">
            <option value="Demande de rdv">Demande de rdv</option>
            <option value="Demande d'information">Demande d'information</option>
            <option value="Demande d'analyse">Demande d'analyse</option>
            <option value="Autre demande">Autre demande</option>
          </select>
      
          <label class="labelContact" for="sujetContact">Message</label>
          <textarea id="sujetContact"  name="message" placeholder="détail de votre demande.." ></textarea>
                
        <button  class="submitContact" type="submit" >Envoyer</button>
        </form>
      </div>

      





</main>