

<main class="MainMonParcours">

 <div class="monparcours">
    <h1 class="H1Monparcours">Mon parcours</h1>
  
      <p class="pMonparcours">De formation en Gestion d’entreprises, puis en RH.
        J’ai passé les 14 dernières années dans l’accompagnement, en tant que formatrice et accompagnatrice
        socioprofessionnel.
        J’ai exercé dans divers environnements :
        Agence de travail temporaire, cabinets privés, organismes de formations et structures sociales… Expériences riches
        en relations humaines qui m’ont permis de faire des rencontres et des accompagnements très variés.
      </p>
  
      <p class="pMonparcours">
        Tout au long de ce parcours, j’ai suivi des formations me permettant au fur et à mesure d’ajuster ma pratique de
        l’accompagnement, allant sur une approche plus globale et centrée sur la personne. (ADVP , PNL en accompagnement..)
      </p>
  
      <p class="pMonparcours">
        Mon parcours personnel m’a amenée à découvrir et à pousser de nouvelles portes,dans le domaine du développement
        personnel,de la connaissance de soi et de la relation d’aide.
      </p>
  
      <p class="pMonparcours">
        Etant sur une bonne dynamique mais toujours en quête de mieux accompagner, de mieux déceler les problématiques, et
        d’avancer moi-même dans mon chemin de vie, je me suis dans un premier temps formée de manière autonome sur
        différentes méthodes
        de gestion du stress et des émotions, et j’ai ensuite appliqué ces méthodes sur moi-même, c’est ainsi que j’ai
        découvert la pratique de <strong><a href="/outilsEtMethodes#EFTOutilsetmethodes"> l’EFT </a> </strong> (Technique
        de libération émotionnelle.).
      </p>
  
      <p class="pMonparcours">
        Je me suis questionnée longuement, je savais qu’il était nécessaire que je continue à accompagner mais mon
        environnement, mon contexte de travail ne me convenait plus, cela ne raisonnait plus avec ma petite voix
        intérieure.
        J’avais cette envie de poursuivre, mais pas avec la même approche, quelque chose manquait…
      </p>
  
      <p class="pMonparcours">
        A l’approche de mes 40 ans, je décide de faire un énorme travail sur moi, d’aller chercher ce qui fait écho avec mon « moi » véritable et de me donner cette chance.
        J’ai quitté mon emploi et j’ai trouvé un mi-temps, afin de prendre enfin ce temps pour moi.
      </p>
  
      <p class="pMonparcours">
        Je décide de suivre une formation sur la méthode EFT. J’ai suivi les 3 niveaux et obtenu l’accréditation de praticienne agréée par l’organisme EFT International  EFTI (anciennement AAMET).
      </p>
  </div> 
  
  
  <div class="ikigaiMonparcours">

    <div class="textIkigaiMonparcours">
        <div class="ikiMonparcours">
            <p class="pMonparcours">
            Et chemin faisant, je découvre <strong><a href="/outilsEtMethodes#ikigaiOutilsetmethodes">L’IKIGAÏ.</a></strong>
            </p>
            <img class="imgMonparcours" src="/public/images/Ikigai.png" alt="ikigai">
            
        </div>
  
        <p class="pMonparcours">
          Et là, quelle découverte! Voilà ce que je cherchais: Pouvoir accompagner et aider les personnes en recherche de sens à trouver leur voie, le métier idéal qui fera qu’ils auront envie de se lever chaque matin!
        </p>
  
        <p class="pMonparcours">
          J’ai moi-même suivi un accompagnement IKIGAÏ, et j’aurai aimé pouvoir bénéficier de cet accompagnement bien plus tôt…Pendant longtemps, je me sentais perdue, je ne savais pas vraiment qui j’étais, où j’allais... J’étais pourtant animée par quelque chose de plus profond et j’avais conscience de ce potentiel mais je n’arrivais pas à le matérialiser. J’ai réalisé mon IKIGAI à plusieurs reprises. Je sais les questions qui se posent, les doutes et les craintes qui émergent. Mais je sais aussi le bonheur de vivre en adéquation avec son IKIGAI !
        </p>
    </div>
  </div>
         
  <div class="conclusionMonparcours">
    <p class="pMonparcours">
      Toutes ces techniques de développement personnel se complètent et me permettent de vous proposer un accompagnement tout en bienveillance et en profondeur,  dans la recherche de votre équilibre émotionnel.
    </p>
  
    <h3 class="H3Monparcours">Maintenant ! je sais que mon Ikigaï et de vous aider à trouver le vôtre!</h3>
  
  </div>
  
  </main>
