  
  <main class="mainPrestations">
     <div class="divPrestations">

            <div class="coachingPrestations">
                <img class="imgcoachingPrestations" src="/public/images/coachingprofessionel.jpg" alt="coaching">
                <h2 class="h2Prestations">Coaching Professionnel</h2>        
                <p class="pPrestations">Premiere séance => 65€ (2h)</p>
                <p class="pPrestations">A partir de la deuxiéme séance => 50€ (1h30)</p>
            </div>

            <div class="accessPrestations">
                <img class="imgaccesPrestations" src="/public/images/accessBar.jpg" alt="access-bars">
                <h2 class="h2Prestations">Séance access bars</h2>        
                <p class="pPrestations"> séance => 60€</p>
                
            </div>

            <div class="eftPrestations">
                <img class="imgeftPrestations" src="/public/images/eft.jpg" alt="eft">
                <h2 class="h2Prestations">Séance EFT</h2>        
                <p class="pPrestations"> Adultes & Enfants => 65€</p>
                
            </div>

            <div class="entretienPrestations">
                <img class="imgentretienPrestations" src="/public/images/entretien.jpg" alt="entretien">
                <h2 class="h2Prestations">Préparation aux entretiens d'embauche</h2>
                <p class="pPrestations">Travail argumentaire</p>
                <p class="pPrestations">Mise en confiance</p>  
                <p class="pPrestations">Simulation d'entretiens 50€/H</p>  
                
            </div>
        </div>

        <div class="forPrestations">
            <div class="forfaitPrestations">
                <img class="imgforfaitPretations" src="/public/images/coaching5.png" alt="5h">

                <h2 class="h2Prestations">Forfait de 5h de coaching</h2>      
                <p class="pPrestations">sur entretiens => 200€</p>
                
            </div>
        </div>
    
    </main>   
     